/*---------------------------------------------------------------------------


Globals
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/



/*------------------------------------------------------------------------
  Globals
------------------------------------------------------------------------*/

body,
html{
  padding: 0px;
  margin: 0px;
  min-width: 320px;
}

html{
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
}

@include media('<sm') {
  html{
    font-size: 13px;
  }
}

body{
  background: $body-bg-color;
  overflow-x: hidden;
}

a{
  color: $brand-primary;
  cursor: pointer;
  text-decoration: none;
}

p{
  line-height: 1.68em;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner { border:0; padding:0 }

button{
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

svg{
  vertical-align: top;
}

/*-- PAGE STATE CHANGE --*/

.scroll-locked{
  overflow: hidden;
}
