/*---------------------------------------------------------------------------


Buttons
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Buttons
------------------------------------------------------------------------*/

.dash-light-button{
  line-height: $grid*2;
  background: #fff;
  padding: ($grid - 1) $grid*2;
  border: 1px solid $dash-divider-gray;
  border-radius: $grid*3;
  @extend .label-on-light;
  &:hover{
    background: #eeeeee;
    color: $brand-primary;
  }
}
  .dash-light-button--mobile-swap{
    .app-icon{
      display: none;
    }
  }
//end .dash-light-button


/*-- RESPONSIVE STYLES --*/

@include media('<sm') {
  .dash-light-button--mobile-swap{
    width: $grid*5;
    height: $grid*5;
    padding: 0;
    span{
      display: none;
    }
    .app-icon{
      margin-top: -1px;
      width: $grid*5;
      height: $grid*5;
      display: block;
    }
  }
}
