/*---------------------------------------------------------------------------


Grid
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Grid
------------------------------------------------------------------------*/

.g{
}
  .g-row{
      display: flex;
      margin-left: -$grid;
      margin-right: -$grid;
  }
    .g-col{
      box-sizing: border-box;
      padding: $grid;
    }
      .g-col-sm{
        @extend .g-col;
        flex: 1;
      }
      .g-col-lg{
        @extend .g-col;
        flex: 2;
      }
      .g-col-xl-only{
        display: none;
      }
    //end .g-col
  //end .g-row
//end .g

@include media('<md') {
  .g-row{
    margin: 0;
    display: block;
  }
  .g-col-sm{
    display: block;
    width: 100%;
    padding: 0px;
  }
  .g-col-lg{
    display: block;
    width: 100%;
    padding: 0px;
  }
}

@include media('>xl') {
  .g-col-lg{
    flex: 2;
  }
  .g-col-sm{
    flex: 1;
  }
  .g-col-mqxl-only{
    display: block;
  }
}
