/*---------------------------------------------------------------------------


Labels
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Labels
------------------------------------------------------------------------*/


.label-type-format{
  font-size: 0.857rem;
  font-family: $secondary-font;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.label-on-dark{
  @extend .label-type-format;
  line-height: $grid;
  display: block;
  color: $medium-blue;
}

.label-on-light{
  @extend .label-type-format;
  color: $dash-label-gray;
}
