/*---------------------------------------------------------------------------


Objects
Constructor File
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/



/*------------------------------------------------------------------------
  Grid
------------------------------------------------------------------------*/

.g{
}
  .g-row{
      display: flex;
      margin-left: -$grid;
      margin-right: -$grid;
  }
    .g-col{
      box-sizing: border-box;
      padding: $grid;
    }
      .g-col-sm{
        @extend .g-col;
        width: 33.3333%;
      }
      .g-col-lg{
        @extend .g-col;
        width: 66.6666%;
      }
    //end .g-col
  //end .g-row
//end .g
