/*---------------------------------------------------------------------------


Dashboard
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/



/*------------------------------------------------------------------------
  Dashboard Layout
------------------------------------------------------------------------*/

.main-column{
  padding: $grid*4;
  background: $body-bg-color;
}
  .main-column__header{
    border-bottom: 1px solid $dash-medium-gray;
    display: flex;
    align-items: center;
    h1{
      font-size: 2rem;
      margin-bottom: $grid*2;
      margin-top: $grid;
      color: $dash-dark-gray;
      font-weight: 600;
    }
  }
    .main-column__controls{
      margin-left: auto;
      select{
        width: $grid*16;
        border: 1px solid $dash-medium-gray;
        background-color: $body-bg-color;
      }
    }
  .main-column__content{
    padding-top: $grid*2;
    padding-bottom: $grid*2;
  }
  //end .main-column__content
//end .main-column


@include media('<sm') {
  .main-column{
    padding: $grid*1.5;
  }
    .main-column__content{
      padding-top: 0;
    }
  //end .main-column
}


/*------------------------------------------------------------------------
  Dashboard Global Widget
------------------------------------------------------------------------*/

.main-widget{
  margin-top: $grid*2;
  min-height: 60px; //temp
  background: #fff;
  border-radius: $grid;
  border: 1px solid $dash-divider-gray;
  color: $dash-copy-gray;
}
  .main-widget__header{
    padding: $grid $grid*3;
    border-bottom: 1px solid $dash-divider-gray;
    display: flex;
    align-items: center;
    h3{
      margin-top: $grid;
      margin-bottom: $grid;
      font-size: 1.286em;
      margin-right: $grid*2;
      line-height: $grid*3;
      color: $widget-header-gray;
      font-weight: 300;
    }
    button{
      margin-top: $grid;
      margin-bottom: $grid;
    }
  }
    .main-widget__header-dropdown-wrap{
      margin-left: auto;
      white-space: nowrap;
      padding-left: $grid*1;
      label{
        @extend .label-on-light;
        margin-right: $grid;
      }
      select{
        @extend .label-on-light;
        width: $grid*14;
        border: 1px solid $dash-medium-gray;
        background-color: #fff;
      }
    }
  //end .main-column__widget-header
//end .main-column__widget

@include media('<sm') {
  .main-widget{
    margin-top: $grid*1.5;
  }
}
