/*---------------------------------------------------------------------------


Global Sidebar
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/



/*------------------------------------------------------------------------
  Sidebar
------------------------------------------------------------------------*/

.main-sidebar{
  overflow-y: auto;
  font-size: 0.857rem;
  width: $sidebar-width;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  padding-top: $grid*8;
  background: linear-gradient( 20deg, $app-blue-dark, $app-blue-light );
}
  .main-sidebar__widget{
    border-bottom: 1px solid $aside-divider-blue;
    padding: $grid*4;
  }
    .main-sidebar__widget-label{
      @extend .label-on-dark;
      margin-top: 0;
      margin-bottom: $grid*4;
    }
    .main-sidebar__widget-content{
      a{
        color: $brand-secondary;
      }
      p{
        color: $medium-blue;
        margin-top: $grid*4;
        margin-bottom: 0;
      }
    }
    .main-sidebar__widget-cta{
      margin-top: $grid*4;
      line-height: $grid;
      color: $brand-primary;
      display: inline-block;
      .app-icon{
        width: $grid*3;
        height: $grid*3;
        margin-top: -6px;
        margin-left: 2px;
        transition: all 0.15s $curved-transition;
      }
      &:hover{
        color: $brand-primary-focus;
        .app-icon{
          margin-left: 8px;
        }
      }
    }
  //end .main-sidebar__widget
//end .main-sidebar


/*-- RESPONSIVE STYLES --*/

@include media('<lg') {
  .main-sidebar{
    transition: all 0.15s $curved-transition;
    right: -$grid*34;
    padding-top: 0;
    z-index: 30;
    padding-right: $grid;
    margin-right: -$grid;
  }
}

/*-- PAGE STATE CHANGES --*/

@include media('<lg') {
  .medium-right-expanded{
    .main-sidebar{
      right: 0;
    }
  }
}



/*------------------------------------------------------------------------
  Dismissal Progress Widget
------------------------------------------------------------------------*/

.dismissal-progress-widget{
}

.dismissal-progress-widget{
  .svg-donut-chart{
    width: $grid*24;
    height: $grid*24;
  }
    .svg-donut-chart__meta{
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
      .svg-donut-chart__count{
        color: #A6B7C3;
        font-size: 3rem;
        line-height: 1;
        font-weight: 400;
      }
      .svg-donut-chart__label{
        color: $aside-label-white;
        text-transform: uppercase;
      }
    //end .svg-donut-chart__meta
  //end .svg-donut-chart
}


/*------------------------------------------------------------------------
  Dismissal Breakdown Widget
------------------------------------------------------------------------*/


.dismissal-breakdown-widget{
  .svg-bar-chart{
    height: 10px;
    margin-top: -4px;
  }
}
  .dismissal-breakdown-wrap{
    margin-top: $grid*4;
  }

  .dismissal-breakdown-card{
    display: flex;
    align-items: center;
    padding-bottom: $grid;
  }
    .dismissal-breakdown-card__icon{
      .app-icon{
        width: $grid*4;
        height: $grid*4;
        margin-left: -6px;
      }
    }
    .dismissal-breakdown-card__info{
      padding-left: $grid*1;
      box-sizing: border-box;
      width: 100%;
    }
      .dismissal-breakdown-card__chart{
        width: 100%;
        height: 5px;
        border-radius: 5px;
        overflow: hidden;
      }

      //end .dismissal-breakdown-card__bar-chart
      .dismissal-breakdown-card__label{
        color: #4C7691;
        line-height: 1;
        margin-bottom: 6px;
        font-weight: 500;
        font-family: $secondary-font;
        letter-spacing: 0.05em;
      }
        .dismissal-breakdown-card__chart__total{
          width: 100%;
          height: 5px;
          border-radius: 5px;
          background: rgba(0,0,0,0.2);
          margin-top: -5px;
        }
          .dismissal-breakdown-card__label__percentage{
            color: $aside-label-white;
          }
        //end .dismissal-breakdown-card__total
        .dismissal-breakdown-card__chart__completed{
          width: 0%;
          height: 5px;
          border-radius: 5px;
          background: linear-gradient( to right, $brand-primary 0%, $brand-secondary 100%);
        }
      .dismissal-breakdown-card__chart{

      }
    //end .dismissal-breakdown-card__info
  //end .dismissal-breakdown-card
//.end dismissal-breakdown-widget
