/*---------------------------------------------------------------------------


Primary Menu
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/



/*------------------------------------------------------------------------
  Primary Navigation
------------------------------------------------------------------------*/

.primary-menu{
  width: $menu-width;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: linear-gradient( 20deg, $app-blue-dark, $app-blue-light );
  transition: all 0.15s $curved-transition;
  .school-card{
    box-sizing: border-box;
    overflow: hidden;
    .school-card__thumb{
      text-align: center;
      vertical-align: top;
      width: $grid*25;
      height: $grid*8;
      background: url('../src/images/school-placeholder@2x.png') center center no-repeat;
      background-size: $grid*25 $grid*8;
      transition: all 0.15s $curved-transition;
    }
    .school-card__name{
      float: right;
      box-sizing: border-box;
      width: $grid*25;
      font-size: 20px;
      font-weight: 400;
      color: $aside-light-white;
      line-height: $grid*2;
      padding: 0 $grid*3;
      margin-top: $grid*2.5  - 1px; //Offset Border
      margin-bottom: $grid;
      opacity: 1;
      transition: all 0.15s $curved-transition;
    }
    .school-card__location{
      float: right;
      box-sizing: border-box;
      width: $grid*25;
      font-size: 0.857rem;
      font-family: $secondary-font;
      font-weight: 300;
      color: $aside-label-white;
      text-transform: uppercase;
      line-height: $grid;
      display: block;
      padding: 0 $grid*3;
      margin: 0;
      border-bottom: 1px solid $aside-divider-blue;
      padding-bottom: $grid*2.5;
      opacity: 1;
      transition: all 0.15s $curved-transition;
    }
  }
  .primary-nav{
    float: right;
    width: $grid*25;
    opacity: 1;
    transition: all 0.15s $curved-transition;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin: 0;
        padding: 0;
      }
    }
    a{
      position: relative;
      color: $aside-medium-white;
      display: block;
      line-height: $grid*2;
      padding: $grid*1.5 $grid*3 $grid*1.5 $grid*7;
      .app-icon{
        position: absolute;
        top: 50%;
        left: $grid*3;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
      }
      &:hover{
        background: $app-blue-darker;
      }
    }
    li{
      border-bottom: 1px solid $aside-divider-blue;
    }
    .primary-nav__child-menu-label{
      @extend .label-on-dark;
      position: relative;
      padding: $grid*3 $grid*3 $grid*1 $grid*3;
    }
    .primary-nav__child-menu{
      padding-bottom: $grid*2;
      li{
        border-bottom: none;
      }
      a{
        padding: $grid*1 $grid*3;
      }
    }
  }
  .collapsed-primary-nav{
    position: absolute;
    top: $grid*8;
    left: -$grid*8;
    transition: left 0.15s $curved-transition;
    .app-icon{
      width: $grid*8;
      height: $grid*8;
    }
    >ul{
      >li{
        list-style: none;
        border-bottom: 1px solid $aside-divider-blue;
        position: relative;
        transition: all 0.15s $curved-transition;
        opacity: 0;
        margin-top: -10px;
        >a, >span{
          cursor: pointer;
          color: $aside-medium-white;
          display: block;
          width: $grid*8;
          height: $grid*8;
          &:hover{
            background: $app-blue-darker;
          }
        }
        &:nth-child(1){
          transition-delay: 0.02s;
        }
        &:nth-child(2){
          transition-delay: 0.04s;
        }
        &:nth-child(3){
          transition-delay: 0.06s;
        }
        &:nth-child(4){
          transition-delay: 0.08s;
        }
        &:nth-child(5){
          transition-delay: 0.10s;
        }
        &:nth-child(6){
          transition-delay: 0.12s;
        }
        &:nth-child(7){
          transition-delay: 0.14s;
        }
        &:nth-child(8){
          transition-delay: 0.16s;
        }
        &:nth-child(9){
          transition-delay: 0.18s;
        }
      }
    }
    li{
      list-style: none;
    }
    .primary-nav__child-menu{
      left: $grid*8;
      width: 0;
      overflow: hidden;
      padding-left: $grid;
      background: $app-blue-dark;
      position: absolute;
      opacity: 0;
      top: 0;
      transition: all 0.15s $curved-transition;
      margin: 0;
      padding: 0;
      border-top: 1px solid $app-blue-light;
      li{
        a{
          border: 1px solid $app-blue-light;
          margin-top: -1px;
          width: $grid*25;
          box-sizing: border-box;
          color: $aside-medium-white;
          display: block;
          line-height: $grid*2;
          padding: $grid*1.5 $grid*3;
          &:hover{
            background: $app-blue-darkest;
          }
        }
      }
    }
    .has-sub-nav:hover{
      background: $app-blue-darker;
      .primary-nav__child-menu{
        width: $grid*25;
        opacity: 1;
      }
    }
  }
}

/* Primary Navigation Collapsed */

.primary-menu.collapsed{
  width: $grid*8;
  overflow: visible;
  .school-card{
    .school-card__thumb{
      width: $grid*8;
    }
    .school-card__location{
      opacity: 0;
      margin-right: $grid*8;
    }
    .school-card__name{
      opacity: 0;
      margin-right: $grid*8;
    }
  }
  .primary-nav{
    opacity: 0;
    margin-right: $grid*8;
  }
  .collapsed-primary-nav{
    left: 0;
    >ul{
      >li{
        opacity: 1;
        margin-top: 0;
      }
    }
  }
}
