/*---------------------------------------------------------------------------


Page Shift
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Page Wrap - wraps everything except for primary nav
------------------------------------------------------------------------*/

.page-wrap{
  background: $body-bg-color;
}

/*-- PAGE STATE CHANGE --*/


.settings-expanded{
  .page-wrap{
    //transform: translate3d( -340px, $grid*3, 0px );
  }
}



/*------------------------------------------------------------------------
  Page Shift Wrap - wraps everything except for primary nav
------------------------------------------------------------------------*/


.page-shift-wrap{
  transition: all 0.15s $curved-transition;
  padding-left: $menu-width;
  padding-right: $sidebar-width;
  padding-top: $header-height;
}

@include media('<lg') {
  .page-shift-wrap{
    padding-right: 0;
  }
}

@include media('<sm') {
  .page-shift-wrap{
    padding-left: 0;
  }
}

/*-- PAGE STATE CHANGES --*/

@include media('<sm') {
  .mobile-left-expanded{
    .page-shift-wrap{
      transform: translateX($menu-width);
    }
  }
}


@include media('>=sm') {
  .desktop-left-collapsed{
    .page-shift-wrap{
      padding-left: $grid*8;
    }
  }
}

@include media('<lg') {
  .medium-right-expanded{
    .page-shift-wrap{
      transform: translateX(-$sidebar-width);
    }
  }
}
