/*---------------------------------------------------------------------------


Kdog Starter
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/* Define Theme Variables */
/*---------------------------------------------------------------------------


Config
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/* --------------------------------------
	Layout
---------------------------------------*/
/* Queries, Built by http://include-media.com/#features */
/* --------------------------------------
	Fonts

  font-family:'Cooper BT W00';
  font-family:'Posterama Text W01';
  font-family:'Proxima Nova W01';

---------------------------------------*/
/* Build Mixins */
/* Build Helpers */
/* Build Modules */
/* Build Layout */
/* Build Shame */
/*---------------------------------------------------------------------------


Shame - Stuff We Need to Clean Up
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
html {
  font-family: "sofia-pro", sans-serif;
  font-size: 14px;
  font-weight: 300; }

use {
  max-width: 100%; }

a {
  cursor: pointer;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------*/
p {
  line-height: 1.68em; }

.label-on-dark, .primary-menu .primary-nav .primary-nav__child-menu-label, .side-content .side-widget__label {
  line-height: 8px;
  font-size: 0.786rem;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  display: block;
  color: #4C7691; }

/*------------------------------------------------------------------------
  General Layout
------------------------------------------------------------------------*/
.page-shift-wrap {
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  padding-left: 200px; }
  .page-shift-wrap.menu-collapsed {
    padding-left: 64px; }

.main-header {
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .main-header.menu-collapsed {
    left: 64px; }

/*------------------------------------------------------------------------
  Primary Navigation
------------------------------------------------------------------------*/
.primary-menu {
  width: 200px;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: -webkit-linear-gradient(70deg, #1E2E43, #2C4059);
  background: linear-gradient(20deg, #1E2E43, #2C4059);
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .primary-menu .school-card {
    box-sizing: border-box;
    overflow: hidden; }
    .primary-menu .school-card .school-card__thumb {
      text-align: center;
      vertical-align: top;
      width: 200px;
      height: 64px;
      background: url("../src/images/school-placeholder@2x.png") center center no-repeat;
      background-size: 200px 64px;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .primary-menu .school-card .school-card__name {
      float: right;
      box-sizing: border-box;
      width: 200px;
      font-size: 20px;
      font-weight: 400;
      color: #D6DFE5;
      line-height: 16px;
      padding: 0 24px;
      margin-top: 19px;
      margin-bottom: 8px;
      opacity: 1;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .primary-menu .school-card .school-card__location {
      float: right;
      box-sizing: border-box;
      width: 200px;
      font-size: 0.857rem;
      font-family: "proxima-nova", sans-serif;
      font-weight: 300;
      color: #A2B9CB;
      text-transform: uppercase;
      line-height: 8px;
      display: block;
      padding: 0 24px;
      margin: 0;
      border-bottom: 1px solid #314760;
      padding-bottom: 20px;
      opacity: 1;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .primary-menu .primary-nav {
    float: right;
    width: 200px;
    opacity: 1;
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .primary-menu .primary-nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .primary-menu .primary-nav ul li {
        margin: 0;
        padding: 0; }
    .primary-menu .primary-nav a {
      position: relative;
      color: #AFC2D0;
      display: block;
      line-height: 16px;
      padding: 12px 24px 12px 56px; }
      .primary-menu .primary-nav a .app-icon {
        position: absolute;
        top: 50%;
        left: 24px;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle; }
      .primary-menu .primary-nav a:hover {
        background: #182638; }
    .primary-menu .primary-nav li {
      border-bottom: 1px solid #314760; }
    .primary-menu .primary-nav .primary-nav__child-menu-label {
      position: relative;
      padding: 24px 24px 8px 24px; }
    .primary-menu .primary-nav .primary-nav__child-menu {
      padding-bottom: 16px; }
      .primary-menu .primary-nav .primary-nav__child-menu li {
        border-bottom: none; }
      .primary-menu .primary-nav .primary-nav__child-menu a {
        padding: 8px 24px; }
  .primary-menu .collapsed-primary-nav {
    position: absolute;
    top: 64px;
    left: -64px;
    -webkit-transition: left 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: left 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .primary-menu .collapsed-primary-nav .app-icon {
      width: 64px;
      height: 64px; }
    .primary-menu .collapsed-primary-nav > ul > li {
      list-style: none;
      border-bottom: 1px solid #314760;
      position: relative;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      opacity: 0;
      margin-top: -10px; }
      .primary-menu .collapsed-primary-nav > ul > li > a, .primary-menu .collapsed-primary-nav > ul > li > span {
        cursor: pointer;
        color: #AFC2D0;
        display: block;
        width: 64px;
        height: 64px; }
        .primary-menu .collapsed-primary-nav > ul > li > a:hover, .primary-menu .collapsed-primary-nav > ul > li > span:hover {
          background: #182638; }
      .primary-menu .collapsed-primary-nav > ul > li:nth-child(1) {
        -webkit-transition-delay: 0.02s;
                transition-delay: 0.02s; }
      .primary-menu .collapsed-primary-nav > ul > li:nth-child(2) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
      .primary-menu .collapsed-primary-nav > ul > li:nth-child(3) {
        -webkit-transition-delay: 0.06s;
                transition-delay: 0.06s; }
      .primary-menu .collapsed-primary-nav > ul > li:nth-child(4) {
        -webkit-transition-delay: 0.08s;
                transition-delay: 0.08s; }
      .primary-menu .collapsed-primary-nav > ul > li:nth-child(5) {
        -webkit-transition-delay: 0.10s;
                transition-delay: 0.10s; }
      .primary-menu .collapsed-primary-nav > ul > li:nth-child(6) {
        -webkit-transition-delay: 0.12s;
                transition-delay: 0.12s; }
      .primary-menu .collapsed-primary-nav > ul > li:nth-child(7) {
        -webkit-transition-delay: 0.14s;
                transition-delay: 0.14s; }
      .primary-menu .collapsed-primary-nav > ul > li:nth-child(8) {
        -webkit-transition-delay: 0.16s;
                transition-delay: 0.16s; }
      .primary-menu .collapsed-primary-nav > ul > li:nth-child(9) {
        -webkit-transition-delay: 0.18s;
                transition-delay: 0.18s; }
    .primary-menu .collapsed-primary-nav li {
      list-style: none; }
    .primary-menu .collapsed-primary-nav .primary-nav__child-menu {
      left: 64px;
      width: 0;
      overflow: hidden;
      padding-left: 8px;
      background: #1E2E43;
      position: absolute;
      opacity: 0;
      top: 0;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      margin: 0;
      padding: 0;
      border-top: 1px solid #2C4059; }
      .primary-menu .collapsed-primary-nav .primary-nav__child-menu li a {
        border: 1px solid #2C4059;
        margin-top: -1px;
        width: 200px;
        box-sizing: border-box;
        color: #AFC2D0;
        display: block;
        line-height: 16px;
        padding: 12px 24px; }
        .primary-menu .collapsed-primary-nav .primary-nav__child-menu li a:hover {
          background: #101a26; }
    .primary-menu .collapsed-primary-nav .has-sub-nav:hover {
      background: #182638; }
      .primary-menu .collapsed-primary-nav .has-sub-nav:hover .primary-nav__child-menu {
        width: 200px;
        opacity: 1; }

svg {
  vertical-align: top; }

/* Primary Navigation Collapsed */
.primary-menu.collapsed {
  width: 64px;
  overflow: visible; }
  .primary-menu.collapsed .school-card .school-card__thumb {
    width: 64px; }
  .primary-menu.collapsed .school-card .school-card__location {
    opacity: 0;
    margin-right: 64px; }
  .primary-menu.collapsed .school-card .school-card__name {
    opacity: 0;
    margin-right: 64px; }
  .primary-menu.collapsed .primary-nav {
    opacity: 0;
    margin-right: 64px; }
  .primary-menu.collapsed .collapsed-primary-nav {
    left: 0; }
    .primary-menu.collapsed .collapsed-primary-nav > ul > li {
      opacity: 1;
      margin-top: 0; }

/*------------------------------------------------------------------------
  Main Header
------------------------------------------------------------------------*/
.main-header {
  height: 64px;
  border-bottom: 1px solid #EAEFF5;
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  z-index: 10; }
  .main-header .main-header__menu-toggle {
    width: 64px;
    height: 64px;
    display: block;
    border-right: 1px solid #EAEFF5;
    position: relative;
    overflow: hidden; }
    .main-header .main-header__menu-toggle:hover {
      background: #EAEFF5; }
    .main-header .main-header__menu-toggle .bar {
      width: 24px;
      height: 2px;
      background: #8EA6BA;
      position: absolute;
      left: 50%;
      margin-left: -9px;
      border-radius: 2px;
      top: 50%;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .main-header .main-header__menu-toggle .bar-1 {
      top: 50%;
      margin-top: -7px; }
    .main-header .main-header__menu-toggle .bar-2 {
      top: 50%;
      margin-top: -1px;
      width: 20px;
      margin-left: -5px; }
    .main-header .main-header__menu-toggle .bar-3 {
      margin-top: 5px; }
    .main-header .main-header__menu-toggle .app-icon {
      position: absolute;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .main-header .main-header__menu-toggle .app-icon--left {
      left: 7px;
      -webkit-transform: rotateZ(180deg);
              transform: rotateZ(180deg); }
    .main-header .main-header__menu-toggle .app-icon--right {
      right: -20px; }
    .main-header .main-header__menu-toggle.active .bar {
      margin-left: -15px; }
    .main-header .main-header__menu-toggle.active .bar-2 {
      margin-left: -15px; }
    .main-header .main-header__menu-toggle.active .app-icon--left {
      left: -20px; }
    .main-header .main-header__menu-toggle.active .app-icon--right {
      right: 7px; }
  .main-header .main-header__logo {
    display: block;
    padding-left: 24px;
    padding-right: 24px; }
    .main-header .main-header__logo svg {
      width: 90px;
      height: 64px;
      overflow: hidden; }
  .main-header .main-header--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-header .main-header--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
  .main-header .profile-mini-card {
    padding: 8px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-header .profile-mini-card .profile-mini-card__info {
      padding-right: 16px;
      text-align: right; }
    .main-header .profile-mini-card .profile-mini-card__name {
      color: #4C7691;
      display: block; }
    .main-header .profile-mini-card .profile-mini-card__title {
      line-height: 8px;
      font-size: 0.714em;
      font-family: "proxima-nova", sans-serif;
      font-weight: 500;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #4C7691;
      opacity: 0.55;
      display: block; }
    .main-header .profile-mini-card .profile-mini-card__thumb {
      width: 48px;
      height: 48px;
      border-radius: 48px; }
  .main-header .main-header__sign-out,
  .main-header .nav-settings__toggle {
    border-left: 1px solid #EAEFF5;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    display: block;
    color: #8EA6BA; }
    .main-header .main-header__sign-out:hover,
    .main-header .nav-settings__toggle:hover {
      background: #EAEFF5; }
    .main-header .main-header__sign-out .app-icon,
    .main-header .nav-settings__toggle .app-icon {
      width: 64px;
      height: 64px; }
  .main-header .nav-settings__toggle {
    position: relative;
    overflow: hidden;
    -webkit-transition: color 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: color 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .main-header .nav-settings__toggle .app-icon {
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .main-header .nav-settings__toggle .nav-settings__caret {
      opacity: 0;
      width: 16px;
      height: 16px;
      border-left: 1px solid #EAEFF5;
      border-top: 1px solid #EAEFF5;
      background: #fff;
      -webkit-transform: rotateZ(45deg);
              transform: rotateZ(45deg);
      position: absolute;
      left: 50%;
      margin-left: -8px;
      box-sizing: border-box;
      bottom: -16px;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      -webkit-transition-delay: 0.06s;
              transition-delay: 0.06s; }
    .main-header .nav-settings__toggle.active {
      overflow: visible;
      background: #EAEFF5;
      color: #3FA9F5; }
      .main-header .nav-settings__toggle.active .nav-settings__caret {
        opacity: 1;
        bottom: -8px; }
      .main-header .nav-settings__toggle.active .app-icon {
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg); }
  .main-header .nav-settings {
    position: relative; }
  .main-header .nav-settings__flyout {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 65px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    width: 288px;
    border-left: 1px solid #EAEFF5;
    border-top: none;
    right: 0;
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .main-header .nav-settings__flyout .app-icon {
      color: #3FA9F5;
      display: block;
      padding: 12px 8px 0 8px;
      width: 56px;
      height: 56px;
      margin: 0 auto; }
    .main-header .nav-settings__flyout a {
      border-right: 1px solid #EAEFF5;
      border-bottom: 1px solid #EAEFF5;
      text-align: center;
      color: #8EA6BA;
      font-family: "proxima-nova", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.05em;
      font-size: 0.714em;
      float: left;
      box-sizing: border-box;
      width: 96px;
      height: 96px;
      display: block;
      opacity: 0;
      margin-top: 0;
      -webkit-transition: opacity 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: opacity 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
      .main-header .nav-settings__flyout a:hover {
        color: #3FA9F5; }
        .main-header .nav-settings__flyout a:hover .app-icon {
          color: #7AC943; }
      .main-header .nav-settings__flyout a .temp-icon {
        -webkit-transition: margin-top 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
        transition: margin-top 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
      .main-header .nav-settings__flyout a:nth-child(1) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(1) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
      .main-header .nav-settings__flyout a:nth-child(2) {
        -webkit-transition-delay: 0.02s;
                transition-delay: 0.02s; }
        .main-header .nav-settings__flyout a:nth-child(2) .temp-icon {
          -webkit-transition-delay: 0.02s;
                  transition-delay: 0.02s; }
      .main-header .nav-settings__flyout a:nth-child(3) {
        -webkit-transition-delay: 0.00s;
                transition-delay: 0.00s; }
        .main-header .nav-settings__flyout a:nth-child(3) .temp-icon {
          -webkit-transition-delay: 0.00s;
                  transition-delay: 0.00s; }
      .main-header .nav-settings__flyout a:nth-child(4) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(4) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
      .main-header .nav-settings__flyout a:nth-child(5) {
        -webkit-transition-delay: 0.02s;
                transition-delay: 0.02s; }
        .main-header .nav-settings__flyout a:nth-child(5) .temp-icon {
          -webkit-transition-delay: 0.02s;
                  transition-delay: 0.02s; }
      .main-header .nav-settings__flyout a:nth-child(6) {
        -webkit-transition-delay: 0.02s;
                transition-delay: 0.02s; }
        .main-header .nav-settings__flyout a:nth-child(6) .temp-icon {
          -webkit-transition-delay: 0.02s;
                  transition-delay: 0.02s; }
      .main-header .nav-settings__flyout a:nth-child(7) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(7) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
      .main-header .nav-settings__flyout a:nth-child(8) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(8) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
      .main-header .nav-settings__flyout a:nth-child(9) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(9) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
    .main-header .nav-settings__flyout.active {
      height: 288px;
      opacity: 1; }
      .main-header .nav-settings__flyout.active a {
        opacity: 1; }
        .main-header .nav-settings__flyout.active a .temp-icon {
          margin-top: 12px; }

/*------------------------------------------------------------------------
  Sidebar
------------------------------------------------------------------------*/
.side-content {
  overflow-y: auto;
  font-size: 0.857rem;
  width: 272px;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  padding-top: 64px;
  background: -webkit-linear-gradient(70deg, #1E2E43, #2C4059);
  background: linear-gradient(20deg, #1E2E43, #2C4059); }
  .side-content a {
    color: #7AC943; }
  .side-content p {
    color: #4C7691;
    margin-top: 32px;
    margin-bottom: 0; }
  .side-content .side-widget {
    border-bottom: 1px solid #314760;
    padding: 32px; }
  .side-content .side-widget__label {
    margin-top: 0;
    margin-bottom: 32px; }
  .side-content .side-widget__cta {
    margin-top: 32px;
    line-height: 8px;
    color: #3FA9F5;
    display: inline-block; }
    .side-content .side-widget__cta .app-icon {
      width: 24px;
      height: 24px;
      margin-top: -6px;
      margin-left: 2px;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .side-content .side-widget__cta:hover {
      color: #6fbff8; }
      .side-content .side-widget__cta:hover .app-icon {
        margin-left: 8px; }

/*------------------------------------------------------------------------
  Dismissal Progress Widget
------------------------------------------------------------------------*/
.dismissal-breakdown-wrap {
  margin-top: 32px; }

.dismissal-breakdown-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px; }

.dismissal-breakdown-card__icon .app-icon {
  width: 32px;
  height: 32px;
  margin-left: -6px; }

.dismissal-breakdown-card__info {
  padding-left: 8px;
  box-sizing: border-box;
  width: 100%; }

.dismissal-breakdown-card__chart {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  overflow: hidden; }

.dismissal-breakdown-card__label {
  color: #4C7691;
  line-height: 1;
  margin-bottom: 6px; }

.dismissal-breakdown-card__chart__total {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: -5px; }

.dismissal-breakdown-card__label__percentage {
  color: #A2B9CB; }

.dismissal-breakdown-card__chart__completed {
  width: 0%;
  height: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #3FA9F5 0%, #7AC943 100%);
  background: linear-gradient(to right, #3FA9F5 0%, #7AC943 100%); }

/*------------------------------------------------------------------------
  Donut Chart
------------------------------------------------------------------------*/
.svg-donut-chart {
  margin: 0 auto;
  position: relative;
  width: 192px;
  height: 192px; }
  .svg-donut-chart svg {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg); }
    .svg-donut-chart svg circle {
      stroke-dashoffset: 0;
      -webkit-transition: stroke-dashoffset 0.5s ease-in-out;
      transition: stroke-dashoffset 0.5s ease-in-out;
      stroke-width: 8px; }
  .svg-donut-chart .svg-donut-chart__meta {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .svg-donut-chart .svg-donut-chart__count {
    color: #A6B7C3;
    font-size: 3rem;
    line-height: 1;
    font-weight: 300; }
  .svg-donut-chart .svg-donut-chart__label {
    color: #A2B9CB;
    text-transform: uppercase; }
