/*---------------------------------------------------------------------------


Kdog Starter
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*--  Define Theme Variables --*/
/*---------------------------------------------------------------------------


Config
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------
  NOTES
---------------------------------------------------------------------*/
/*

Page Darken Z-index: 10;
Primary Menu, Mobile-Menu-Toggle Z-index: 20;







*/
/*---------------------------------------------------------------------
  Layout
---------------------------------------------------------------------*/
/* Queries, Built by http://include-media.com/#features */
/*---------------------------------------------------------------------
  Colors
---------------------------------------------------------------------*/
/*---------------------------------------------------------------------
  Type
---------------------------------------------------------------------*/
/*---------------------------------------------------------------------
  Transitions
---------------------------------------------------------------------*/
/*--  Build Tools: mixins and helper functions --*/
/*---------------------------------------------------------------------------


Elements
Constructor File
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*--  Build Generic: ground zero styles, reset styles such as normalize.css --*/
/*---------------------------------------------------------------------------


Elements
Constructor File
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------


Globals
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Globals
------------------------------------------------------------------------*/
body,
html {
  padding: 0px;
  margin: 0px;
  min-width: 320px; }

html {
  font-family: "sofia-pro", sans-serif;
  font-size: 14px;
  font-weight: 400; }

@media (max-width: 799px) {
  html {
    font-size: 13px; } }

body {
  background: #e9ecf3;
  overflow-x: hidden; }

a {
  color: #3FA9F5;
  cursor: pointer;
  text-decoration: none; }

p {
  line-height: 1.68em; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

button {
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

svg {
  vertical-align: top; }

/*-- PAGE STATE CHANGE --*/
.scroll-locked {
  overflow: hidden; }

/* Build Elements: headings, lists, tables, etc */
/*---------------------------------------------------------------------------


Elements
Constructor File
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
select {
  font-size: 0.857rem;
  padding-right: 40px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  overflow: hidden;
  text-overflow: elipsis;
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  border: 1px solid #d8deea;
  background: url("../src/svg/down-caret.svg") right -2px no-repeat; }

/* Build Objects: e.g. .button, .list-item, grid systems */
/*---------------------------------------------------------------------------


Objects
Constructor File
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------


Grid
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Grid
------------------------------------------------------------------------*/
.g-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -8px;
  margin-right: -8px; }

.g-col, .g-col-sm, .g-col-lg {
  box-sizing: border-box;
  padding: 8px; }

.g-col-sm {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.g-col-lg {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.g-col-xl-only {
  display: none; }

@media (max-width: 1023px) {
  .g-row {
    margin: 0;
    display: block; }
  .g-col-sm {
    display: block;
    width: 100%;
    padding: 0px; }
  .g-col-lg {
    display: block;
    width: 100%;
    padding: 0px; } }

@media (min-width: 1961px) {
  .g-col-lg {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .g-col-sm {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .g-col-mqxl-only {
    display: block; } }

/*---------------------------------------------------------------------------


Buttons
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Buttons
------------------------------------------------------------------------*/
.dash-light-button {
  line-height: 16px;
  background: #fff;
  padding: 7px 16px;
  border: 1px solid #e2e6ea;
  border-radius: 24px; }
  .dash-light-button:hover {
    background: #eeeeee;
    color: #3FA9F5; }

.dash-light-button--mobile-swap .app-icon {
  display: none; }

/*-- RESPONSIVE STYLES --*/
@media (max-width: 799px) {
  .dash-light-button--mobile-swap {
    width: 40px;
    height: 40px;
    padding: 0; }
    .dash-light-button--mobile-swap span {
      display: none; }
    .dash-light-button--mobile-swap .app-icon {
      margin-top: -1px;
      width: 40px;
      height: 40px;
      display: block; } }

/*---------------------------------------------------------------------------


Labels
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Labels
------------------------------------------------------------------------*/
.label-type-format, .label-on-dark, .primary-nav__child-menu-label, .main-sidebar__widget-label, .label-on-light, select, .dash-light-button, .main-widget__header-dropdown-wrap label, .main-widget__header-dropdown-wrap select, .leaderboard-widget__table th, .registered-parents-widget__info-label, .registered-parents-widget__bar-label {
  font-size: 0.857rem;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase; }

.label-on-dark, .primary-nav__child-menu-label, .main-sidebar__widget-label {
  line-height: 8px;
  display: block;
  color: #4C7691; }

.label-on-light, select, .dash-light-button, .main-widget__header-dropdown-wrap label, .main-widget__header-dropdown-wrap select, .leaderboard-widget__table th, .registered-parents-widget__info-label {
  color: #8298B4; }

/*---------------------------------------------------------------------------


Bar Chart
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Bar Chart
------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------


Donut Chart
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Donut Chart
------------------------------------------------------------------------*/
.svg-donut-chart {
  margin: 0 auto;
  position: relative; }
  .svg-donut-chart svg {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg); }
    .svg-donut-chart svg circle {
      stroke-dashoffset: 0;
      -webkit-transition: stroke-dashoffset 0.5s ease-in-out;
      transition: stroke-dashoffset 0.5s ease-in-out;
      stroke-width: 8px; }

.svg-donut-chart__count {
  line-height: 1;
  font-weight: 400; }

.svg-donut-chart__label {
  font-weight: 300;
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif; }

/*---------------------------------------------------------------------------


Effects
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Effects
------------------------------------------------------------------------*/
.mobile-page-darken {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-linear-gradient(top, #163c57 0%, #0c202e 100%);
  background: linear-gradient(to bottom, #163c57 0%, #0c202e 100%);
  z-index: 10;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.3s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .mobile-page-darken.mobile-page-darken--block {
    display: block; }
  .mobile-page-darken.mobile-page-darken--active {
    opacity: 0.8;
    display: block; }

/*------------------------------------------------------------------------
  Effects
------------------------------------------------------------------------*/
.desktop-darken-content {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-linear-gradient(top, #163c57 0%, #0c202e 100%);
  background: linear-gradient(to bottom, #163c57 0%, #0c202e 100%);
  z-index: 10;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.3s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .desktop-darken-content.mobile-page-darken--block {
    display: block; }
  .desktop-darken-content.mobile-page-darken--active {
    opacity: 0.8;
    display: block; }

/* Build Components */
/*---------------------------------------------------------------------------


Components
Constructor File
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------


Page Shift
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Page Wrap - wraps everything except for primary nav
------------------------------------------------------------------------*/
.page-wrap {
  background: #e9ecf3; }

/*-- PAGE STATE CHANGE --*/
/*------------------------------------------------------------------------
  Page Shift Wrap - wraps everything except for primary nav
------------------------------------------------------------------------*/
.page-shift-wrap {
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  padding-left: 200px;
  padding-right: 272px;
  padding-top: 64px; }

@media (max-width: 1399px) {
  .page-shift-wrap {
    padding-right: 0; } }

@media (max-width: 799px) {
  .page-shift-wrap {
    padding-left: 0; } }

/*-- PAGE STATE CHANGES --*/
@media (max-width: 799px) {
  .mobile-left-expanded .page-shift-wrap {
    -webkit-transform: translateX(200px);
            transform: translateX(200px); } }

@media (min-width: 800px) {
  .desktop-left-collapsed .page-shift-wrap {
    padding-left: 64px; } }

@media (max-width: 1399px) {
  .medium-right-expanded .page-shift-wrap {
    -webkit-transform: translateX(-272px);
            transform: translateX(-272px); } }

/*---------------------------------------------------------------------------


Main Header
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Main Header
------------------------------------------------------------------------*/
.main-header {
  height: 64px;
  border-bottom: 1px solid #EAEFF5;
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  z-index: 10;
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }

.main-header__menu-toggle {
  width: 64px;
  height: 64px;
  display: block;
  border-right: 1px solid #EAEFF5;
  position: relative;
  overflow: hidden;
  /* CREATE MENU ICON */ }
  .main-header__menu-toggle:hover {
    background: #EAEFF5; }
  .main-header__menu-toggle .bar {
    width: 24px;
    height: 2px;
    background: #8EA6BA;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    border-radius: 2px;
    top: 50%;
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .main-header__menu-toggle .bar-1 {
    top: 50%;
    margin-top: -7px; }
  .main-header__menu-toggle .bar-2 {
    top: 50%;
    margin-top: -1px;
    width: 20px;
    margin-left: -5px; }
  .main-header__menu-toggle .bar-3 {
    margin-top: 5px; }
  .main-header__menu-toggle .app-icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .main-header__menu-toggle .app-icon--left {
    left: 7px;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg); }
  .main-header__menu-toggle .app-icon--right {
    right: -20px; }

.main-header__logo {
  display: block;
  padding-left: 24px;
  padding-right: 24px; }
  .main-header__logo svg {
    width: 90px;
    height: 64px;
    overflow: hidden; }

.main-header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }

.main-header__btn {
  border-left: 1px solid #EAEFF5;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  display: block;
  color: #8EA6BA; }
  .main-header__btn:hover {
    background: #EAEFF5; }
  .main-header__btn .app-icon {
    width: 64px;
    height: 64px; }

.main-header__toggle-progress {
  display: none; }

/*-- RESPONSIVE STYLES --*/
@media (max-width: 1399px) {
  .main-header__toggle-progress {
    display: block; }
    .main-header__toggle-progress .app-icon {
      opacity: 1;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); } }

@media (max-width: 799px) {
  .main-header {
    left: 0; }
  .main-header__logo {
    padding-left: 16px;
    padding-right: 16px; }
  .main-header__menu-toggle {
    display: none; }
  .main-header__logo {
    border-left: 1px solid #EAEFF5; }
  .main-header__mobile-menu-toggle {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    overflow: hidden;
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .main-header__mobile-menu-toggle .bar {
      width: 24px;
      height: 2px;
      background: #8EA6BA;
      position: absolute;
      left: 50%;
      margin-left: -12px;
      border-radius: 2px;
      top: 50%;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .main-header__mobile-menu-toggle .bar-1 {
      top: 50%;
      margin-top: -7px; }
    .main-header__mobile-menu-toggle .bar-2 {
      margin-top: -1px; }
    .main-header__mobile-menu-toggle .bar-3 {
      margin-top: 5px;
      opacity: 1; } }

/*-- PAGE STATE CHANGES --*/
@media (max-width: 799px) {
  .mobile-left-expanded .main-header {
    -webkit-transform: translateX(200px);
            transform: translateX(200px); }
  .mobile-left-expanded .main-header__mobile-menu-toggle {
    opacity: 0; } }

@media (min-width: 800px) {
  .desktop-left-collapsed .main-header {
    left: 64px; }
  .desktop-left-collapsed .main-header__menu-toggle .bar {
    margin-left: -15px; }
  .desktop-left-collapsed .main-header__menu-toggle .bar-2 {
    margin-left: -15px; }
  .desktop-left-collapsed .main-header__menu-toggle .app-icon--left {
    left: -20px; }
  .desktop-left-collapsed .main-header__menu-toggle .app-icon--right {
    right: 7px; } }

@media (max-width: 1399px) {
  .medium-right-expanded .main-header {
    -webkit-transform: translateX(-272px);
            transform: translateX(-272px); }
  .medium-right-expanded .main-header__toggle-progress .app-icon {
    opacity: 0; } }

/*------------------------------------------------------------------------
  Mobile Menu Close
------------------------------------------------------------------------*/
.mobile-menu-close, .right-menu-close {
  position: fixed;
  top: 0;
  width: 64px;
  height: 64px;
  z-index: 20;
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11) 0.06s;
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11) 0.06s; }
  .mobile-menu-close .bar, .right-menu-close .bar {
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    margin-top: -1px;
    margin-left: -10px;
    top: 50%;
    left: 50%; }
  .mobile-menu-close .bar-1, .right-menu-close .bar-1 {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }
  .mobile-menu-close .bar-2, .right-menu-close .bar-2 {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg); }
  .mobile-menu-close .circle, .right-menu-close .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid #fff; }

.mobile-menu-close {
  left: -64px; }

.right-menu-close {
  right: -64px; }

/*-- PAGE STATE CHANGES --*/
@media (max-width: 799px) {
  .mobile-left-expanded .mobile-menu-close {
    left: 200px; } }

@media (max-width: 1399px) {
  .medium-right-expanded .right-menu-close {
    right: 272px; } }

/*------------------------------------------------------------------------
  Profile Card
------------------------------------------------------------------------*/
.profile-mini-card {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.profile-mini-card__info {
  padding-right: 16px;
  text-align: right; }

.profile-mini-card__name {
  color: #4C7691;
  display: block;
  line-height: 1; }

.profile-mini-card__title {
  line-height: 8px;
  font-size: 0.714em;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4C7691;
  opacity: 0.55;
  display: block;
  padding-top: 3px; }

.profile-mini-card__thumb {
  width: 48px;
  height: 48px;
  border-radius: 48px; }

/*-- RESPONSIVE STYLES --*/
@media (max-width: 799px) {
  .profile-mini-card {
    display: none; } }

/*------------------------------------------------------------------------
  Nav Settings Toggle
------------------------------------------------------------------------*/
.nav-settings__toggle {
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: color 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .nav-settings__toggle .app-icon {
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }

/*-- PAGE STATE CHANGES --*/
.settings-expanded .nav-settings__toggle {
  overflow: visible;
  background: #EAEFF5;
  color: #3FA9F5; }
  .settings-expanded .nav-settings__toggle .app-icon {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }

/*------------------------------------------------------------------------
  Nav Settings Flyout
------------------------------------------------------------------------*/
.nav-settings__flyout {
  position: fixed;
  top: -16px;
  right: -16px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  width: 288px;
  border-left: 1px solid #EAEFF5;
  border-top: none;
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  z-index: 30;
  border-radius: 8px;
  display: none;
  opacity: 0;
  max-height: 90vh;
  overflow-y: auto; }

.nav-settings__menu-header {
  text-align: left;
  padding: 16px 40px 16px 24px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #EAEFF5;
  color: #666c73;
  font-size: 1.143em;
  position: relative; }
  .nav-settings__menu-header span {
    line-height: 32px; }

.nav-settings__menu-close {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 8px;
  right: 8px; }
  .nav-settings__menu-close svg {
    color: #3FA9F5;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    left: 50%; }
    .nav-settings__menu-close svg circle {
      opacity: 0;
      stroke-dasharray: 100.2;
      stroke-dashoffset: 100.2;
      -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
      transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .nav-settings__menu-close .bar {
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: #8298B4;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px; }
  .nav-settings__menu-close .bar-1 {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }
  .nav-settings__menu-close .bar-2 {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg); }
  .nav-settings__menu-close:hover .bar {
    background-color: #3FA9F5; }
  .nav-settings__menu-close:hover svg circle {
    opacity: 1;
    stroke-dashoffset: 0; }

.nav-settings__menu-wrap {
  overflow: hidden; }
  .nav-settings__menu-wrap .app-icon {
    color: #3FA9F5;
    display: block;
    padding: 12px 8px 0 8px;
    width: 56px;
    height: 56px;
    margin: 0 auto; }
  .nav-settings__menu-wrap a {
    border-right: 1px solid #EAEFF5;
    border-bottom: 1px solid #EAEFF5;
    text-align: center;
    color: #8EA6BA;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 0.714em;
    float: left;
    box-sizing: border-box;
    width: 96px;
    height: 96px;
    display: block;
    opacity: 0;
    margin-top: 0;
    -webkit-transition: opacity 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: opacity 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
    .nav-settings__menu-wrap a:hover {
      background: #F2F6F9;
      color: #3FA9F5; }
      .nav-settings__menu-wrap a:hover .app-icon {
        color: #7AC943; }
    .nav-settings__menu-wrap a:nth-child(1) {
      -webkit-transition-delay: 0.18s;
              transition-delay: 0.18s; }
    .nav-settings__menu-wrap a:nth-child(2) {
      -webkit-transition-delay: 0.14s;
              transition-delay: 0.14s; }
    .nav-settings__menu-wrap a:nth-child(3) {
      -webkit-transition-delay: 0.10s;
              transition-delay: 0.10s; }
    .nav-settings__menu-wrap a:nth-child(4) {
      -webkit-transition-delay: 0.18s;
              transition-delay: 0.18s; }
    .nav-settings__menu-wrap a:nth-child(5) {
      -webkit-transition-delay: 0.14s;
              transition-delay: 0.14s; }
    .nav-settings__menu-wrap a:nth-child(6) {
      -webkit-transition-delay: 0.14s;
              transition-delay: 0.14s; }
    .nav-settings__menu-wrap a:nth-child(7) {
      -webkit-transition-delay: 0.18s;
              transition-delay: 0.18s; }
    .nav-settings__menu-wrap a:nth-child(8) {
      -webkit-transition-delay: 0.18s;
              transition-delay: 0.18s; }
    .nav-settings__menu-wrap a:nth-child(9) {
      -webkit-transition-delay: 0.18s;
              transition-delay: 0.18s; }

.nav-settings__menu-footer {
  padding: 16px;
  text-align: center;
  width: 100%;
  box-sizing: border-box; }
  .nav-settings__menu-footer button {
    opacity: 0;
    -webkit-transition: opacity 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: opacity 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    -webkit-transition-delay: 0.22s;
            transition-delay: 0.22s; }

.settings-profile-card {
  display: none;
  padding: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e2e6ea;
  opacity: 0;
  -webkit-transition: opacity 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: opacity 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s; }

.settings-profile-card__thumb {
  width: 48px;
  height: 48px;
  border-radius: 48px; }

.settings-profile-card__info {
  padding-left: 16px; }

.settings-profile-card__name {
  color: #4C7691;
  display: block;
  line-height: 1; }

.settings-profile-card__title {
  line-height: 8px;
  font-size: 0.714em;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4C7691;
  opacity: 0.55;
  display: block;
  padding-top: 3px; }

/*-- RESPONSIVE STYLES --*/
@media (max-width: 799px) {
  .settings-profile-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

/*-- PAGE STATE CHANGES --*/
.settings-expanded--enter .nav-settings__flyout {
  display: block; }

.settings-expanded .nav-settings__flyout {
  display: block;
  opacity: 1;
  top: 24px;
  right: 24px; }
  @media (max-width: 799px) {
    .settings-expanded .nav-settings__flyout {
      top: 8px;
      right: 8px; } }

.settings-expanded .nav-settings__menu-wrap a {
  opacity: 1; }

.settings-expanded .nav-settings__menu-footer button {
  opacity: 1; }

.settings-expanded .settings-profile-card {
  opacity: 1; }

.settings-expanded--exit .nav-settings__flyout {
  opacity: 0;
  display: block; }

/*---------------------------------------------------------------------------


Primary Menu
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Primary Menu
------------------------------------------------------------------------*/
.primary-menu {
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: -webkit-linear-gradient(70deg, #1E2E43, #2C4059);
  background: linear-gradient(20deg, #1E2E43, #2C4059);
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  padding-left: 16px;
  margin-left: -16px; }

.school-card {
  box-sizing: border-box;
  overflow: hidden; }

.school-card__thumb {
  text-align: center;
  vertical-align: top;
  width: 200px;
  height: 64px;
  background: url("../src/images/school-placeholder@2x.png") center center no-repeat;
  background-size: 200px 64px;
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }

.school-card__name {
  float: right;
  box-sizing: border-box;
  width: 200px;
  font-size: 20px;
  font-weight: 400;
  color: #D6DFE5;
  line-height: 16px;
  padding: 0 24px;
  margin-top: 19px;
  margin-bottom: 8px;
  opacity: 1;
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }

.school-card__location {
  float: right;
  box-sizing: border-box;
  width: 200px;
  font-size: 0.857rem;
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  color: #A2B9CB;
  text-transform: uppercase;
  line-height: 8px;
  display: block;
  padding: 0 24px;
  margin: 0;
  border-bottom: 1px solid #314760;
  padding-bottom: 20px;
  opacity: 1;
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }

/*-- RESPONSIVE STYLES --*/
@media (max-width: 799px) {
  .primary-menu {
    z-index: 30; } }

/*-- PAGE STATE CHANGE --*/
@media (max-width: 1399px) {
  .medium-right-expanded .primary-menu {
    -webkit-transform: translateX(-272px);
            transform: translateX(-272px); } }

/*------------------------------------------------------------------------
  Primary Navigation
------------------------------------------------------------------------*/
.primary-nav {
  float: right;
  width: 200px;
  opacity: 1;
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .primary-nav ul {
    list-style: none; }
    .primary-nav ul li {
      margin: 0;
      padding: 0; }
  .primary-nav a {
    position: relative;
    color: #AFC2D0;
    display: block;
    line-height: 16px;
    padding: 12px 24px 12px 56px; }
    .primary-nav a .app-icon {
      position: absolute;
      top: 50%;
      left: 24px;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: middle; }
    .primary-nav a:hover {
      background: #182638; }
  .primary-nav li {
    border-bottom: 1px solid #314760; }

.primary-nav__child-menu-label {
  position: relative;
  padding: 24px 24px 8px 24px; }

.primary-nav__child-menu {
  padding-bottom: 16px; }
  .primary-nav__child-menu li {
    border-bottom: none; }
  .primary-nav__child-menu a {
    padding: 8px 24px; }

/*------------------------------------------------------------------------
  Collapsed Primary Nav
------------------------------------------------------------------------*/
.collapsed-primary-nav {
  position: absolute;
  top: 64px;
  left: -64px;
  -webkit-transition: left 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: left 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .collapsed-primary-nav .app-icon {
    width: 64px;
    height: 64px; }
  .collapsed-primary-nav > ul > li {
    list-style: none;
    border-bottom: 1px solid #314760;
    position: relative;
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    opacity: 0;
    margin-top: -10px; }
    .collapsed-primary-nav > ul > li > a, .collapsed-primary-nav > ul > li > span {
      cursor: pointer;
      color: #AFC2D0;
      display: block;
      width: 64px;
      height: 64px; }
      .collapsed-primary-nav > ul > li > a:hover, .collapsed-primary-nav > ul > li > span:hover {
        background: #182638; }
    .collapsed-primary-nav > ul > li:nth-child(1) {
      -webkit-transition-delay: 0.02s;
              transition-delay: 0.02s; }
    .collapsed-primary-nav > ul > li:nth-child(2) {
      -webkit-transition-delay: 0.04s;
              transition-delay: 0.04s; }
    .collapsed-primary-nav > ul > li:nth-child(3) {
      -webkit-transition-delay: 0.06s;
              transition-delay: 0.06s; }
    .collapsed-primary-nav > ul > li:nth-child(4) {
      -webkit-transition-delay: 0.08s;
              transition-delay: 0.08s; }
    .collapsed-primary-nav > ul > li:nth-child(5) {
      -webkit-transition-delay: 0.10s;
              transition-delay: 0.10s; }
    .collapsed-primary-nav > ul > li:nth-child(6) {
      -webkit-transition-delay: 0.12s;
              transition-delay: 0.12s; }
    .collapsed-primary-nav > ul > li:nth-child(7) {
      -webkit-transition-delay: 0.14s;
              transition-delay: 0.14s; }
    .collapsed-primary-nav > ul > li:nth-child(8) {
      -webkit-transition-delay: 0.16s;
              transition-delay: 0.16s; }
    .collapsed-primary-nav > ul > li:nth-child(9) {
      -webkit-transition-delay: 0.18s;
              transition-delay: 0.18s; }
  .collapsed-primary-nav li {
    list-style: none; }
  .collapsed-primary-nav .has-sub-nav:hover {
    background: #182638; }
    .collapsed-primary-nav .has-sub-nav:hover .collapsed-primary-nav__child-menu {
      width: 200px;
      opacity: 1; }

.collapsed-primary-nav__child-menu {
  left: 64px;
  width: 0;
  overflow: hidden;
  padding-left: 8px;
  background: #1E2E43;
  position: absolute;
  opacity: 0;
  top: 0;
  -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
  margin: 0;
  padding: 0;
  border-top: 1px solid #2C4059; }
  .collapsed-primary-nav__child-menu li a {
    border: 1px solid #2C4059;
    margin-top: -1px;
    width: 200px;
    box-sizing: border-box;
    color: #AFC2D0;
    display: block;
    line-height: 16px;
    padding: 12px 24px; }
    .collapsed-primary-nav__child-menu li a:hover {
      background: #101a26; }

/*-- RESPONSIVE STYLES --*/
@media (max-width: 799px) {
  .primary-menu {
    left: -200px;
    padding-left: 16px;
    margin-left: -16px; } }

/*-- PAGE STATE CHANGES --*/
@media (min-width: 800px) {
  .desktop-left-collapsed .primary-menu {
    width: 64px;
    overflow: visible; }
  .desktop-left-collapsed .school-card__thumb {
    width: 64px; }
  .desktop-left-collapsed .school-card__location {
    opacity: 0;
    margin-right: 64px; }
  .desktop-left-collapsed .school-card__name {
    opacity: 0;
    margin-right: 64px; }
  .desktop-left-collapsed .primary-nav {
    opacity: 0;
    margin-right: 64px; }
  .desktop-left-collapsed .collapsed-primary-nav {
    left: 16px; }
    .desktop-left-collapsed .collapsed-primary-nav > ul > li {
      opacity: 1;
      margin-top: 0; } }

@media (max-width: 799px) {
  .mobile-left-expanded .primary-menu {
    left: 0; } }

/*---------------------------------------------------------------------------


Global Sidebar
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Sidebar
------------------------------------------------------------------------*/
.main-sidebar {
  overflow-y: auto;
  font-size: 0.857rem;
  width: 272px;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  padding-top: 64px;
  background: -webkit-linear-gradient(70deg, #1E2E43, #2C4059);
  background: linear-gradient(20deg, #1E2E43, #2C4059); }

.main-sidebar__widget {
  border-bottom: 1px solid #314760;
  padding: 32px; }

.main-sidebar__widget-label {
  margin-top: 0;
  margin-bottom: 32px; }

.main-sidebar__widget-content a {
  color: #7AC943; }

.main-sidebar__widget-content p {
  color: #4C7691;
  margin-top: 32px;
  margin-bottom: 0; }

.main-sidebar__widget-cta {
  margin-top: 32px;
  line-height: 8px;
  color: #3FA9F5;
  display: inline-block; }
  .main-sidebar__widget-cta .app-icon {
    width: 24px;
    height: 24px;
    margin-top: -6px;
    margin-left: 2px;
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }
  .main-sidebar__widget-cta:hover {
    color: #6fbff8; }
    .main-sidebar__widget-cta:hover .app-icon {
      margin-left: 8px; }

/*-- RESPONSIVE STYLES --*/
@media (max-width: 1399px) {
  .main-sidebar {
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    right: -272px;
    padding-top: 0;
    z-index: 30;
    padding-right: 8px;
    margin-right: -8px; } }

/*-- PAGE STATE CHANGES --*/
@media (max-width: 1399px) {
  .medium-right-expanded .main-sidebar {
    right: 0; } }

/*------------------------------------------------------------------------
  Dismissal Progress Widget
------------------------------------------------------------------------*/
.dismissal-progress-widget .svg-donut-chart {
  width: 192px;
  height: 192px; }

.dismissal-progress-widget .svg-donut-chart__meta {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.dismissal-progress-widget .svg-donut-chart__count {
  color: #A6B7C3;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400; }

.dismissal-progress-widget .svg-donut-chart__label {
  color: #A2B9CB;
  text-transform: uppercase; }

/*------------------------------------------------------------------------
  Dismissal Breakdown Widget
------------------------------------------------------------------------*/
.dismissal-breakdown-widget .svg-bar-chart {
  height: 10px;
  margin-top: -4px; }

.dismissal-breakdown-wrap {
  margin-top: 32px; }

.dismissal-breakdown-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px; }

.dismissal-breakdown-card__icon .app-icon {
  width: 32px;
  height: 32px;
  margin-left: -6px; }

.dismissal-breakdown-card__info {
  padding-left: 8px;
  box-sizing: border-box;
  width: 100%; }

.dismissal-breakdown-card__chart {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  overflow: hidden; }

.dismissal-breakdown-card__label {
  color: #4C7691;
  line-height: 1;
  margin-bottom: 6px;
  font-weight: 500;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 0.05em; }

.dismissal-breakdown-card__chart__total {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: -5px; }

.dismissal-breakdown-card__label__percentage {
  color: #A2B9CB; }

.dismissal-breakdown-card__chart__completed {
  width: 0%;
  height: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #3FA9F5 0%, #7AC943 100%);
  background: linear-gradient(to right, #3FA9F5 0%, #7AC943 100%); }

/*---------------------------------------------------------------------------


Dashboard
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Dashboard Layout
------------------------------------------------------------------------*/
.main-column {
  padding: 32px;
  background: #e9ecf3; }

.main-column__header {
  border-bottom: 1px solid #d8deea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-column__header h1 {
    font-size: 2rem;
    margin-bottom: 16px;
    margin-top: 8px;
    color: #748399;
    font-weight: 600; }

.main-column__controls {
  margin-left: auto; }
  .main-column__controls select {
    width: 128px;
    border: 1px solid #d8deea;
    background-color: #e9ecf3; }

.main-column__content {
  padding-top: 16px;
  padding-bottom: 16px; }

@media (max-width: 799px) {
  .main-column {
    padding: 12px; }
  .main-column__content {
    padding-top: 0; } }

/*------------------------------------------------------------------------
  Dashboard Global Widget
------------------------------------------------------------------------*/
.main-widget {
  margin-top: 16px;
  min-height: 60px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e2e6ea;
  color: #95989A; }

.main-widget__header {
  padding: 8px 24px;
  border-bottom: 1px solid #e2e6ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-widget__header h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.286em;
    margin-right: 16px;
    line-height: 24px;
    color: #666c73;
    font-weight: 300; }
  .main-widget__header button {
    margin-top: 8px;
    margin-bottom: 8px; }

.main-widget__header-dropdown-wrap {
  margin-left: auto;
  white-space: nowrap;
  padding-left: 8px; }
  .main-widget__header-dropdown-wrap label {
    margin-right: 8px; }
  .main-widget__header-dropdown-wrap select {
    width: 112px;
    border: 1px solid #d8deea;
    background-color: #fff; }

@media (max-width: 799px) {
  .main-widget {
    margin-top: 12px; } }

/*---------------------------------------------------------------------------


Mobile Progress Widget
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Mobile Progress Widget
------------------------------------------------------------------------*/
.mobile-progress-widget {
  display: none; }

.mobile-progress-widget__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px; }

.mobile-progress-widget__left {
  width: 192px;
  padding-right: 24px;
  border-right: 1px solid #e2e6ea; }

.mobile-progress-widget__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 24px; }

.mobile-progress-widget .svg-donut-chart {
  width: 192px;
  height: 192px; }

.mobile-progress-widget .svg-donut-chart__meta {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.mobile-progress-widget .svg-donut-chart__count {
  color: #95989A;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400; }

.mobile-progress-widget .svg-donut-chart__label {
  color: #afb1b3;
  text-transform: uppercase; }

/*-- RESPONSIVE STYLES --*/
@media (max-width: 1399px) {
  .mobile-progress-widget {
    display: block; } }

@media (max-width: 799px) {
  .mobile-progress-widget__header .dash-light-button--mobile-swap {
    margin-left: auto; } }

@media (max-width: 499px) {
  .mobile-progress-widget__content {
    display: block; }
  .mobile-progress-widget__left {
    margin: 0 auto;
    border-right: none;
    padding-right: 0; }
  .mobile-progress-widget__right {
    padding-left: 0px;
    width: 100%; }
    .mobile-progress-widget__right p {
      margin-top: 24px;
      margin-bottom: 0px; } }

/*---------------------------------------------------------------------------


Recent Activity
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Recent Activity
------------------------------------------------------------------------*/
.recent-activity-widget__card {
  padding: 16px;
  border-top: 1px solid #e2e6ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .recent-activity-widget__card:first-child {
    border-top: none; }

.recent-activity-widget__avatar {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 40px; }

.recent-activity-widget__card-content {
  padding-right: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.recent-activity-widget__card-title {
  color: #8298B4;
  line-height: 1.1em; }

.recent-activity-widget__student-name {
  color: #3FA9F5; }

.recent-activity-widget__student-action {
  color: #7AC943; }

.recent-activity-widget__card-meta {
  font-size: 0.857rem;
  color: #A6B7C3;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  padding-top: 6px; }
  .recent-activity-widget__card-meta span {
    white-space: nowrap; }

.recent-activity-widget__action {
  margin-left: auto;
  text-align: right;
  font-size: 0.857rem;
  color: #A6B7C3;
  font-family: "proxima-nova", sans-serif;
  margin-top: 3px; }

.recent-activity-widget__student-id {
  white-space: nowrap;
  color: #c4d0d8;
  padding-left: 8px; }

.recent-activity-widget__view-more {
  text-transform: uppercase;
  padding-left: 8px; }
  .recent-activity-widget__view-more .app-icon {
    vertical-align: middle;
    margin-top: -2px;
    margin-left: -6px;
    margin-right: -6px;
    width: 19.2px;
    height: 19.2px;
    -webkit-transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11);
    transition: all 0.15s cubic-bezier(0.34, 0.61, 0.59, 1.11); }

.recent-activity-widget__card:hover .recent-activity-widget__view-more {
  color: #3FA9F5; }
  .recent-activity-widget__card:hover .recent-activity-widget__view-more .app-icon {
    margin-right: -10px; }

/*-- RESPONSIVE STYLES --*/
@media (max-width: 1079px) and (min-width: 1024px) {
  .recent-activity-widget__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .recent-activity-widget__header .dash-light-button--mobile-swap {
      margin-left: auto; }
    .recent-activity-widget__header .main-widget__header-dropdown-wrap {
      width: 100%;
      display: block;
      margin-top: 8px;
      margin-bottom: 8px;
      border-top: 1px solid #e2e6ea;
      padding-top: 16px;
      padding-left: 0px;
      margin-left: -24px;
      margin-right: -24px;
      padding-left: 24px;
      padding-right: 24px; } }

@media (max-width: 499px) {
  .recent-activity-widget__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .recent-activity-widget__header .dash-light-button--mobile-swap {
      margin-left: auto; }
    .recent-activity-widget__header .main-widget__header-dropdown-wrap {
      width: 100%;
      display: block;
      margin-top: 8px;
      margin-bottom: 8px;
      border-top: 1px solid #e2e6ea;
      padding-top: 16px;
      padding-left: 0px;
      margin-left: -24px;
      margin-right: -24px;
      padding-left: 24px;
      padding-right: 24px; }
  .recent-activity-widget__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .recent-activity-widget__action {
    display: none; } }

/*---------------------------------------------------------------------------


Leaderboard Widget
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Leaderboard Widget
------------------------------------------------------------------------*/
.leaderboard-widget__table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; }
  .leaderboard-widget__table th {
    border-left: 1px solid #e2e6ea;
    text-align: left;
    box-sizing: border-box;
    padding: 8px 16px; }
    .leaderboard-widget__table th:first-child {
      border-left: none; }
    .leaderboard-widget__table th.leaderboard-widget__table-rank-th {
      width: 64px;
      text-align: center; }
    .leaderboard-widget__table th.leaderboard-widget__table-activity-count-th {
      width: 144px; }
  .leaderboard-widget__table td {
    border-top: 1px solid #e2e6ea;
    border-left: 1px solid #e2e6ea;
    padding: 16px;
    line-height: 1.429rem; }
    .leaderboard-widget__table td:first-child {
      border-left: none; }
    .leaderboard-widget__table td.leaderboard-widget__table-rank-td {
      text-align: center; }
  .leaderboard-widget__table tr:first-child .leaderboard-widget__table-rank-td {
    background: url("../src/svg/star.svg") center center no-repeat;
    background-size: 48px 48px;
    color: #fff; }

@media (max-width: 499px) {
  .leaderboard-widget__table th.leaderboard-widget__table-activity-count-th {
    width: 104px; } }

/*---------------------------------------------------------------------------


Staff Directory
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Staff Directory
------------------------------------------------------------------------*/
.staff-directory-widget__user {
  border-top: 1px solid #e2e6ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px; }
  .staff-directory-widget__user:first-child {
    border-top: none; }

.staff-directory-widget__name {
  padding-right: 16px;
  color: #95989A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.staff-directory-widget__bubble {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #95989A;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px; }

.staff-directory-widget__status {
  margin-left: auto;
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  font-size: 0.857rem;
  color: #A6B7C3; }

.staff-directory-widget__user--online .staff-directory-widget__bubble {
  background-color: #7AC943; }

.staff-directory-widget__user--online .staff-directory-widget__status {
  color: #7AC943; }

/*---------------------------------------------------------------------------


Dismissal Snapshot Widget
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Dismissal Snapshot Widget
------------------------------------------------------------------------*/
.dismissal-snapshot-widget__card {
  padding: 16px 24px;
  border-top: 1px solid #e2e6ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dismissal-snapshot-widget__card:first-child {
    border-top: none; }
  .dismissal-snapshot-widget__card--changes {
    color: #EFAF1E; }
  .dismissal-snapshot-widget__card--absentee {
    color: #7AC943; }

.dismissal-snapshot-widget__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dismissal-snapshot-widget__count {
  font-weight: 600;
  font-size: 3.000rem;
  padding-right: 8px;
  line-height: 40px;
  vertical-align: top;
  margin-top: -8px; }

.dismissal-snapshot-widget__label {
  color: #A6B7C3;
  text-transform: uppercase;
  font-size: 0.857rem;
  letter-spacing: 0.05em;
  font-family: "proxima-nova", sans-serif;
  font-weight: 300; }

.dismissal-snapshot-widget__icon {
  margin-left: auto;
  margin-top: -2px;
  width: 56px;
  height: 56px; }
  .dismissal-snapshot-widget__icon .app-icon {
    margin-right: -8px;
    width: 56px;
    height: 56px; }

/*---------------------------------------------------------------------------


Registered Parents Widget
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
  Registered Parents Widget
------------------------------------------------------------------------*/
.registered-parents-widget__content {
  padding: 24px; }

.registered-parents-widget__circle-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.registered-parents-widget__circle-wrap-left {
  width: 50%;
  box-sizing: border-box;
  min-width: 168px;
  padding-right: 24px;
  border-right: 1px solid #e2e6ea; }

.registered-parents-widget__circle-wrap-right {
  width: 50%;
  height: 196px;
  text-overflow: ellipsis; }

.registered-parents-widget__info-block {
  width: 100%;
  border-top: 1px solid #e2e6ea;
  height: 33.3333%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px; }
  .registered-parents-widget__info-block:first-child {
    border-top: none; }
  .registered-parents-widget__info-block--registered .registered-parents-widget__info-label {
    color: #7AC943; }
  .registered-parents-widget__info-block--unregistered .registered-parents-widget__info-label {
    color: #EFAF1E; }

.registered-parents-widget__info-total {
  font-size: 1.714rem;
  display: block;
  width: 100%; }

.registered-parents-widget__info-label {
  display: block;
  line-height: 1.2em; }

.registered-parents-widget__bar-wrap {
  border-top: 1px solid #e2e6ea;
  margin-top: 16px;
  padding-top: 24px;
  text-align: center; }

.registered-parents-widget__bar-label {
  text-align: left;
  margin-bottom: 8px;
  color: #A6B7C3; }
  .registered-parents-widget__bar-label span {
    color: #95989A; }

.registered-parents-widget .svg-donut-chart {
  width: 144px;
  height: 144px;
  margin: 0 auto; }

.registered-parents-widget .svg-donut-chart__meta {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.registered-parents-widget .svg-donut-chart__count {
  color: #95989A;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400; }

.registered-parents-widget .svg-donut-chart__label {
  font-weight: 300;
  color: #afb1b3;
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  font-size: 0.857em;
  line-height: 1em;
  margin-top: 4px; }

.registered-parents-widget .svg-bar-chart {
  height: 10px;
  margin-bottom: 16px; }

.registered-parents-widget__circle-wrap .dash-light-button {
  margin: 0 auto;
  margin-top: 16px;
  width: 144px;
  padding-left: 8px;
  padding-right: 8px;
  display: block; }

.registered-parents-widget__bar-wrap .dash-light-button {
  display: inline-block;
  margin: 0 auto; }

/* Build Shame */
/*---------------------------------------------------------------------------


Shame - Stuff We Need to Clean Up
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
.mqxl-only {
  display: none; }

.mqsm-only {
  display: none; }

@media (min-width: 1960px) {
  .mqxl-only {
    display: block; }
  .not-mqxl {
    display: none; } }

@media (max-width: 799px) {
  .mqsm-only {
    display: block; }
  .not-mqsm {
    display: none; } }
