/*---------------------------------------------------------------------------


Kdog Starter
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/* Define Theme Variables */
/*---------------------------------------------------------------------------


Config
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
/* --------------------------------------
	Layout
---------------------------------------*/
/* Queries, Built by http://include-media.com/#features */
/* --------------------------------------
	Fonts

  font-family:'Cooper BT W00';
  font-family:'Posterama Text W01';
  font-family:'Proxima Nova W01';

---------------------------------------*/
/* Build Mixins */
/* Build Helpers */
/* Build Modules */
/* Build Layout */
/* Build Shame */
/*---------------------------------------------------------------------------


Shame - Stuff We Need to Clean Up
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/
html {
  font-family: "sofia-pro", sans-serif;
  font-size: 14px; }

a {
  cursor: pointer;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*------------------------------------------------------------------------
  General Layout
------------------------------------------------------------------------*/
.page-shift-wrap {
  padding-left: 200px; }

/*------------------------------------------------------------------------
  Primary Navigation
------------------------------------------------------------------------*/
.primary-menu {
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: -webkit-linear-gradient(70deg, #1E2E43, #2C4059);
  background: linear-gradient(20deg, #1E2E43, #2C4059); }
  .primary-menu .school-card {
    box-sizing: border-box;
    border-bottom: 1px solid #314760;
    padding-bottom: 20px; }
    .primary-menu .school-card .school-card__thumb {
      vertical-align: top; }
    .primary-menu .school-card .school-card__name {
      font-size: 20px;
      font-weight: 400;
      color: #D6DFE5;
      line-height: 16px;
      padding: 0 24px;
      margin-top: 19px;
      margin-bottom: 8px; }
    .primary-menu .school-card .school-card__location {
      font-size: 0.857rem;
      font-family: "proxima-nova", sans-serif;
      font-weight: 300;
      color: #AFC2D0;
      text-transform: uppercase;
      line-height: 8px;
      display: block;
      padding: 0 24px;
      margin: 0; }
  .primary-menu .primary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .primary-menu .primary-nav ul li {
      margin: 0;
      padding: 0; }
  .primary-menu .primary-nav a {
    color: #AFC2D0;
    display: block;
    line-height: 16px;
    padding: 12px 24px; }
    .primary-menu .primary-nav a:hover {
      background: #182638; }
  .primary-menu .primary-nav li {
    border-bottom: 1px solid #314760; }
  .primary-menu .primary-nav .primary-nav__child-menu-label {
    line-height: 8px;
    font-size: 0.786em;
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: block;
    color: #4C7691;
    padding: 24px 24px 8px 24px; }
  .primary-menu .primary-nav .primary-nav__child-menu {
    padding-bottom: 16px; }
    .primary-menu .primary-nav .primary-nav__child-menu li {
      border-bottom: none; }
    .primary-menu .primary-nav .primary-nav__child-menu a {
      padding: 8px 24px; }

svg {
  vertical-align: top; }

/*------------------------------------------------------------------------
  Main Header
------------------------------------------------------------------------*/
.main-header {
  height: 64px;
  border-bottom: 1px solid #EAEFF5;
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-header .main-header__menu-toggle {
    width: 64px;
    height: 64px;
    display: block;
    border-right: 1px solid #EAEFF5;
    position: relative;
    overflow: hidden; }
    .main-header .main-header__menu-toggle:hover {
      background: #EAEFF5; }
    .main-header .main-header__menu-toggle .bar {
      width: 24px;
      height: 2px;
      background: #8EA6BA;
      position: absolute;
      left: 50%;
      margin-left: -9px;
      border-radius: 2px;
      top: 50%;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
    .main-header .main-header__menu-toggle .bar-1 {
      top: 50%;
      margin-top: -7px; }
    .main-header .main-header__menu-toggle .bar-2 {
      top: 50%;
      margin-top: -1px;
      width: 20px;
      margin-left: -5px; }
    .main-header .main-header__menu-toggle .bar-3 {
      margin-top: 5px; }
    .main-header .main-header__menu-toggle .app-icon {
      position: absolute;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
    .main-header .main-header__menu-toggle .app-icon--left {
      left: 7px;
      -webkit-transform: rotateZ(180deg);
              transform: rotateZ(180deg); }
    .main-header .main-header__menu-toggle .app-icon--right {
      right: -20px; }
    .main-header .main-header__menu-toggle.active .bar {
      margin-left: -15px; }
    .main-header .main-header__menu-toggle.active .bar-2 {
      margin-left: -15px; }
    .main-header .main-header__menu-toggle.active .app-icon--left {
      left: -20px; }
    .main-header .main-header__menu-toggle.active .app-icon--right {
      right: 7px; }
  .main-header .main-header__logo {
    display: block;
    padding-left: 24px;
    padding-right: 24px; }
    .main-header .main-header__logo svg {
      width: 90px;
      height: 64px;
      overflow: hidden; }
  .main-header .main-header--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-header .main-header--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
  .main-header .profile-mini-card {
    padding: 8px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-header .profile-mini-card .profile-mini-card__info {
      padding-right: 16px;
      text-align: right; }
    .main-header .profile-mini-card .profile-mini-card__name {
      color: #4C7691;
      display: block; }
    .main-header .profile-mini-card .profile-mini-card__title {
      line-height: 8px;
      font-size: 0.714em;
      font-family: "proxima-nova", sans-serif;
      font-weight: 500;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #4C7691;
      opacity: 0.55;
      display: block; }
    .main-header .profile-mini-card .profile-mini-card__thumb {
      width: 48px;
      height: 48px;
      border-radius: 48px; }
  .main-header .main-header__sign-out,
  .main-header .nav-settings__toggle {
    border-left: 1px solid #EAEFF5;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    padding: 16px;
    display: block; }
    .main-header .main-header__sign-out:hover,
    .main-header .nav-settings__toggle:hover {
      background: #EAEFF5; }
    .main-header .main-header__sign-out .app-icon,
    .main-header .nav-settings__toggle .app-icon {
      width: 32px;
      height: 32px; }
  .main-header .nav-settings__toggle {
    position: relative;
    overflow: hidden;
    color: #8EA6BA;
    -webkit-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out; }
    .main-header .nav-settings__toggle .app-icon {
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
    .main-header .nav-settings__toggle .nav-settings__caret {
      opacity: 0;
      width: 16px;
      height: 16px;
      border-left: 1px solid #EAEFF5;
      border-top: 1px solid #EAEFF5;
      background: #fff;
      -webkit-transform: rotateZ(45deg);
              transform: rotateZ(45deg);
      position: absolute;
      left: 50%;
      margin-left: -8px;
      box-sizing: border-box;
      bottom: -16px;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
    .main-header .nav-settings__toggle.active {
      overflow: visible;
      background: #EAEFF5;
      color: #3FA9F5; }
      .main-header .nav-settings__toggle.active .nav-settings__caret {
        opacity: 1;
        bottom: -8px; }
      .main-header .nav-settings__toggle.active .app-icon {
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg); }
  .main-header .nav-settings {
    position: relative; }
  .main-header .nav-settings__flyout {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 65px;
    background: #fff;
    width: 288px;
    border-left: 1px solid #EAEFF5;
    border-top: none;
    right: 0;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .main-header .nav-settings__flyout .temp-icon {
      border: 1px solid #8EA6BA;
      width: 48px;
      height: 48px;
      border-radius: 48px;
      margin: 0 auto 8px; }
    .main-header .nav-settings__flyout a {
      border-right: 1px solid #EAEFF5;
      border-bottom: 1px solid #EAEFF5;
      text-align: center;
      color: #8EA6BA;
      font-family: "proxima-nova", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.05em;
      font-size: 0.714em;
      float: left;
      box-sizing: border-box;
      width: 96px;
      height: 96px;
      display: block;
      opacity: 0;
      margin-top: 0;
      -webkit-transition: opacity 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out; }
      .main-header .nav-settings__flyout a:hover {
        color: #3FA9F5; }
        .main-header .nav-settings__flyout a:hover .temp-icon {
          border: 1px solid #3FA9F5; }
      .main-header .nav-settings__flyout a .temp-icon {
        -webkit-transition: margin-top 0.15s ease-in-out;
        transition: margin-top 0.15s ease-in-out; }
      .main-header .nav-settings__flyout a:nth-child(1) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(1) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
      .main-header .nav-settings__flyout a:nth-child(2) {
        -webkit-transition-delay: 0.02s;
                transition-delay: 0.02s; }
        .main-header .nav-settings__flyout a:nth-child(2) .temp-icon {
          -webkit-transition-delay: 0.02s;
                  transition-delay: 0.02s; }
      .main-header .nav-settings__flyout a:nth-child(3) {
        -webkit-transition-delay: 0.00s;
                transition-delay: 0.00s; }
        .main-header .nav-settings__flyout a:nth-child(3) .temp-icon {
          -webkit-transition-delay: 0.00s;
                  transition-delay: 0.00s; }
      .main-header .nav-settings__flyout a:nth-child(4) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(4) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
      .main-header .nav-settings__flyout a:nth-child(5) {
        -webkit-transition-delay: 0.02s;
                transition-delay: 0.02s; }
        .main-header .nav-settings__flyout a:nth-child(5) .temp-icon {
          -webkit-transition-delay: 0.02s;
                  transition-delay: 0.02s; }
      .main-header .nav-settings__flyout a:nth-child(6) {
        -webkit-transition-delay: 0.02s;
                transition-delay: 0.02s; }
        .main-header .nav-settings__flyout a:nth-child(6) .temp-icon {
          -webkit-transition-delay: 0.02s;
                  transition-delay: 0.02s; }
      .main-header .nav-settings__flyout a:nth-child(7) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(7) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
      .main-header .nav-settings__flyout a:nth-child(8) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(8) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
      .main-header .nav-settings__flyout a:nth-child(9) {
        -webkit-transition-delay: 0.04s;
                transition-delay: 0.04s; }
        .main-header .nav-settings__flyout a:nth-child(9) .temp-icon {
          -webkit-transition-delay: 0.04s;
                  transition-delay: 0.04s; }
    .main-header .nav-settings__flyout.active {
      height: 288px;
      opacity: 1; }
      .main-header .nav-settings__flyout.active a {
        opacity: 1; }
        .main-header .nav-settings__flyout.active a .temp-icon {
          margin-top: 12px; }
