/*---------------------------------------------------------------------------


Config
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------
  NOTES
---------------------------------------------------------------------*/
/*

Page Darken Z-index: 10;
Primary Menu, Mobile-Menu-Toggle Z-index: 20;







*/



/*---------------------------------------------------------------------
  Layout
---------------------------------------------------------------------*/

/* Queries, Built by http://include-media.com/#features */
$breakpoints: (
  xs: 500px,
  sm: 800px,
  md: 1024px,
  lg: 1400px,
  xl: 1960px
);

$page-max-width: 1320px;
$grid: 8px;

$header-height: $grid*8;
$menu-width: $grid*25;
$sidebar-width: $grid*34;


/*---------------------------------------------------------------------
  Colors
---------------------------------------------------------------------*/

$body-bg-color: #e9ecf3;

$brand-primary: #3FA9F5;
$brand-primary-focus: lighten($brand-primary, 10%);
$brand-secondary: #7AC943;
$brand-secondary-focus: lighten($brand-secondary, 10%);
$brand-tertiary: #EFAF1E;
$brand-tertiary-focus: lighten($brand-tertiary, 10%);

$dash-dark-gray: #748399;
$dash-medium-gray: #d8deea;
$dash-gray-blue: #6b819a;
$dash-divider-gray: #e2e6ea;
$dash-label-gray: #8298B4;
$dash-light-gray: #A6B7C3;
$dash-copy-gray: #95989A;
$widget-header-gray: #666c73;
$lightest-gray: #F2F6F9;
$blue-gray: #8EA6BA;

$app-blue-light: #2C4059;
$app-blue-dark: #1E2E43;
$app-blue-darker: #182638;
$app-blue-darkest: darken(#182638, 5%);
$aside-light-white: #D6DFE5;
$aside-label-white: #A2B9CB;
$aside-medium-white: #AFC2D0;
$aside-divider-blue: #314760;
$medium-blue: #4C7691;
$divider-on-white: #EAEFF5;



/*---------------------------------------------------------------------
  Type
---------------------------------------------------------------------*/

$primary-font: "sofia-pro", sans-serif;
//Light: 300
//Regular: 400
//Medium: 500
//Semi Bold: 600
//Bold: 700

$secondary-font: "proxima-nova", sans-serif;
//Thin: 100
//Light: 300
//Medium: 500



/*---------------------------------------------------------------------
  Transitions
---------------------------------------------------------------------*/

$curved-transition: cubic-bezier(.34,.61,.59,1.11);
